* {
  margin: 0;
}

.navbar {
 position: relative;
 margin-left: 15%;
 margin-top: 3%;
 background-color: rgb(247, 247, 247);
 width: 70%;
 border: 1px solid rgb(233, 233, 233);
 border-radius: 5px;
}

.navBrand {
  font-family: arial;
  font-size: 30px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  line-height: 70px;
  font-weight: 800;
  margin-left: 30px;
  transition: .5s;
}

.navBrand:hover {
  color: rgb(202, 152, 152);
  transition: .5s;
}

.signUp {
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  line-height: 70px;
  float: right;
  margin-right: 30px;
}

.login {
  font-family: arial;
  font-size: 20px;
  text-decoration: none;
  color: rgb(173, 173, 173);
  line-height: 70px;
  float: right;
  margin-right: 30px;
}